annotated-types
anyio
async-timeout
bcrypt==4.2.0
certifi
cffi
charset-normalizer
click
coverage
cryptography
dnspython
ecdsa
email_validator
exceptiongroup
Faker
fastapi
greenlet
h11
httpcore
httpx
idna
iniconfig
Jinja2
MarkupSafe
packaging
passlib==1.7.4
playwright
pluggy
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
pytest
pytest-cov
pytest-cover
pytest-coverage
pytest-playwright
python-dotenv
python-jose
python-multipart
redis
requests
rsa
setuptools
six
sniffio
SQLAlchemy
starlette
tenacity
tomli
typing_extensions
tzdata
urllib3
uvicorn
